/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
html {
    font-family: Arial,sans-serif;
    font-size:16px;
}

header {
    padding-top:1rem;
    padding-bottom:1rem;
}

section {
    float: left;
    min-width: 22.5rem;
    width:50%;
}

aside {
    float: right;
    border-left: .125rem solid gray;
    padding-right: 1rem;
    padding-left:.5rem;
}
figure {
    width:60%;
    margin:0 10% 0 0;
    float:left;
}

figure img {
    width:100%;
    max-width:25rem;
}

figcaption {
    margin:.375rem 0;
}

section, aside, nav, footer {
  padding: .5rem;
}



h1 {
    transform:rotate(-5deg);
    letter-spacing: .125rem;
    font-size:3.75rem;
    text-align:center;
}

h2 {
    letter-spacing: .125rem;
    font-size: 1.5rem;
}

p{
    font-size: .75rem;
    letter-spacing: .031rem;
    word-spacing: .125rem;
}

figcaption {
    font-size: .75rem;
    margin-bottom: 2rem;
}

nav {
    width:100%;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding-top:.5rem;
    padding-bottom:.5rem;
    justify-content: space-between;
}

nav a {
    word-spacing:.5rem;
    width: 15%;
    text-decoration: none;
    line-height: 3;
    font-size:1.125rem;
}

nav a:focus,
nav a:hover {
    color:#FFF;
    background-color: #33658A;
}

nav a:active {
    color: #FFF;
    background-color: #000;
}

footer {
    margin-top:1.5rem;
    justify-content: space-between;
}