/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
html {
    font-family: Arial,sans-serif;
    font-size:16px;
}

header {
    padding-top:1rem;
    padding-bottom:2rem;
}

.highlight{
    border: .125rem solid black;
    border-color: maroon;
    background-color: maroon;
    color: lightyellow;
    border-radius: 1.25rem .75rem;
    padding: .5rem;
    font-weight: bold;
    }

.mainsection {
    display: flex;
    overflow: auto;
    width:100%;
}

article {
    float: left;
    width:60%;
}

.subsection {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
aside {
    float: right;
    border-left: .125rem solid gray;
    padding-right: 1rem;
    padding-left:.5rem;
    width: 25%;
}

aside + a {
    text-decoration: none;
    color: black;
    border-bottom:.0625rem solid gray;
}


figcaption {
    margin:.375rem 0;
}

section, aside, nav, footer {
  padding: .5rem;
}



h1 {
    transform:rotate(-5deg);
    letter-spacing: .125rem;
    font-size:3.75rem;
    text-align:center;
}

h2 {
    letter-spacing: .125rem;
    font-size: 1.5rem;
}

p{
    font-size: .75rem;
    letter-spacing: .031rem;
    word-spacing: .125rem;
}

figcaption {
    font-size: .75rem;
    margin-bottom: 2rem;
}

nav {
    width:100%;
    border-top: .125rem solid gray;
    border-bottom: .125rem solid gray;
    padding-top:.5rem;
    padding-bottom:.5rem;
    padding-left:2rem;
    word-spacing:3rem;
}

nav a {
    text-decoration-color: steelblue;
    width: 15%;
    text-decoration: none;
    line-height: 3;
    font-size:1.125rem;
}

nav a:focus,
nav a:hover {
    color:#FFF;
    background-color: #33658A;
}

nav a:active {
    color: #FFF;
    background-color: #000;
}

footer {
    float:bottom;
    text-decoration: none;
    text-decoration-color: gray;
    display: flex;
    justify-content: space-between;
}